@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using BlogProject.Models
@using BlogProject.Services
@inject IImageService imageService
@model IPagedList<Blog>
@{
    ViewData["Title"] = "Devbinge";
}

<div class="container">
    <div class="text-center mb-lg-4">
        <h1 style="font-size: 3rem">Blog Categories</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mt-5 g-4">
        @foreach (var blog in Model)
        {
            <div class="col">
                <div class="card h-100 rounded-top">
                    <img src="@imageService.DecodeImage(blog.ImageData, blog.ContentType)"
                         style="object-fit: cover; height: 25vw"
                         class="card-img-top rounded-top" />
                    <div class="card-body m-0">
                        <a asp-controller="Posts" asp-action="BlogPosts" asp-route-id="@blog.Id" class="card-title">
                            <h3>@blog.Name</h3>
                            <p class="card-text mt-2">@blog.Description</p>
                        </a>
                    </div>
                    <div class="text-center mt-2">
                        <a class="btn btn-dark w-100" asp-action="BlogPosts" asp-controller="Posts" asp-route-id="@blog.Id">
                            Read Posts
                        </a>
                    </div>

                    @if (User.IsInRole("Admin"))
                    {
                        <hr />

                        <div class="text-center">
                            <a class="btn btn-dark w-100" asp-action="Create" asp-controller="Posts" asp-route-id="@blog.Id">Create Post</a>
                        </div>

                        <hr />

                        <div class="text-center">
                            <a class="btn btn-dark w-100" asp-action="Edit" asp-controller="Blogs" asp-route-id="@blog.Id">Edit Blog</a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>





<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
         new PagedListRenderOptions
         {
             LiElementClasses = new string[] { "page-item" },
             PageClasses = new string[] { "page-link" }
         })
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("p").tooltip();
        })
    </script>
}