@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using BlogProject.Models
@model IPagedList<Post>
@{
}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">


            @foreach (var post in Model)
            {
                <div class="post-preview">
                    <a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">
                        <h2 class="post-title">@post.Title</h2>
                        <h3 class="post-subtitle">@post.Abstract</h3>
                    </a>
                    <p class="post-meta">
                        Authored by
                        <a target="_blank" href="https://marcrivas.com/">@post.BlogUser?.FullName</a>
                        on @post.Created.ToString("MMM dd, yyyy")
                    </p>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="">
                            <a class="btn btn-dark rounded-pill" asp-action="Edit" asp-controller="Posts" asp-route-id="@post.Id">Edit</a>
                        </div>
                    }
                </div>
                <hr />
            }


            @*


                <div class="post-preview">
                    <a asp-controller="Posts" asp-action="Index">
                        <h2 class="post-title">@blog.Name</h2>
                        <h3 class="post-subtitle">@blog.Description</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on September 24, 2021
                    </p>
                </div>

            *@
        </div>
    </div>
</div>

<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("BlogPosts", new { id = Model.FirstOrDefault().BlogId, page = page }),
         new PagedListRenderOptions
         {
             LiElementClasses = new string[] { "page-item" },
             PageClasses = new string[] { "page-link bg-dark border-0 fw-bold" }
         })
    </div>
</div>


@section Scripts {
    <script>

    </script>
}