@model BlogProject.Models.Post
@using BlogProject.Models
@using Microsoft.AspNetCore.Identity
@using BlogProject.Services
@inject IImageService imageService
@inject UserManager<BlogUser> UserManager
@{
    ViewData["Title"] = Model.Title;
    var user = User.Identity.IsAuthenticated ? await UserManager.FindByEmailAsync(User.Identity.Name) : null;
}

<!--Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />

<article>
    <div class="row">
        <div class="col text-center fw-bold h3">
            Tags
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-sm btn-block btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr />

<section>
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="card text-dark">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-action="Create" method="post" asp-controller="Comments" class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                            @Html.Hidden("PostId", Model.Id)
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     style="object-fit: cover;"
                                     src="@imageService.DecodeImage(user.ImageData, user.ContentType)"
                                     alt="avatar"
                                     width="40"
                                     height="40" />
                                <div class="form-outline w-100">
                                    <textarea class="form-control"
                                              placeholder="Post a Comment..."
                                              name="body"
                                              id="create-comment"
                                              rows="4"
                                              style="background: #fff;"></textarea>
                                </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                                <button id="create-comment-button" type="submit" class="btn btn-primary btn-sm">Post comment</button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <a class="btn btn-primary btn-sm p-3" asp-area="Identity" asp-page="/Account/Login">Login to post comments</a>
                    }
                    <div id="commentSection" class="card-body p-4">
                        <h4 class="mb-0">Recent comments</h4>
                        <p class="fw-light mb-4 pb-2">@(Model.Comments.Count == 1 ? $"{Model.Comments.Count} {Html.Raw("Comment")}": $"{Model.Comments.Count} {Html.Raw("Comments")}")</p>
                    </div>




                    @foreach (var comment in Model.Comments)
                    {
                        <hr class="my-0" />

                        <form class="card-body p-4" asp-action="Edit" method="post" asp-controller="Comments">
                            @Html.Hidden("Id", comment.Id)
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     style="object-fit:cover"
                                     src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType)"
                                     alt="avatar"
                                     width="60"
                                     height="60" />
                                <div>
                                    <h6 class="fw-bold mb-0">@comment.BlogUser.FullName</h6>
                                    <div class="d-flex align-items-center mb-3 mt-0">
                                        <p class="mb-0 mt-0">
                                            <small class="mb-0">@comment.Created.ToString("MMM dd, yyyy")</small>
                                            <span class="edit-icon-parent badge bg-success">@(comment.Moderated.HasValue ? $"{comment.ModerationType}" : "")</span>
                                            @if (User.Identity.IsAuthenticated && comment.BlogUserId == user.Id)
                                            {
                                                <button type="button" onclick="enableEdit(event)" class="link-muted m-0 p-0 btn edit-icon">
                                                    <i class="fs-6 fas fa-pencil-alt ms-2"></i>
                                                </button>
                                            }
                                        </p>
                                    </div>
                                    <textarea name="body" rows="5" id="comment" disabled style="" class="mb-0">@comment.Body</textarea>
                                </div>
                            </div>
                        </form>


                        <hr class="my-0" style="height: 1px;" />

                    }






                    @*<div class="media border border-dark p-3 mb-3 w-50 container rounded-2 bg-light">
            <img class="mr-3 mt-3 rounded-circle" style="padding: 0; width: 50px; height: 50px; line-height: 50px; border-radius: 50%; object-fit: cover;" src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType)" />
            <div class="media-body">
                <h4>@comment.BlogUser.DisplayName</h4>
                <small><i>Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small>
                <p>@comment.Body</p>
            </div>
        </div>*@



                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/js/custom.js"></script>
}