@model BlogProject.Models.Post
@using BlogProject.Models
@using Microsoft.AspNetCore.Identity
@using BlogProject.Services
@using BlogProject.Enums
@inject IImageService imageService
@inject UserManager<BlogUser> UserManager
@{
    ViewData["Title"] = "Devbinge";
    var user = User.Identity.IsAuthenticated ? await UserManager.FindByEmailAsync(User.Identity.Name) : null;
}

<!--Post Content-->

<article class="mb-4">
    <div class="container text-center">
        <h1 class="">@Model.Title</h1>
        <span class="fw-bold subheading">@Model.Abstract</span>
        <br />
        <i class="subheading">Authored by @Model.BlogUser.FullName on @Model.Created.ToString("MMM dd, yyyy")</i>
    </div>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7" style="text-align: left;">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />

<article>
    <div class="row">
        <div class="col text-center fw-bold h3">
            Tags
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-sm btn-block btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr />

<section>
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="card text-dark">

                    @**------- CREATE COMMENTS START ------*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-action="Create" method="post" asp-controller="Comments" class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                            @Html.Hidden("PostId", Model.Id)
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     style="object-fit: cover;"
                                     src="@imageService.DecodeImage(user.ImageData, user.ContentType)"
                                     alt="avatar"
                                     width="40"
                                     height="40" />
                                <div class="form-outline w-100">
                                    <textarea class="form-control"
                                              placeholder="Post a Comment..."
                                              name="body"
                                              id="create-comment"
                                              rows="4"
                                              style="background: #fff;"></textarea>
                                </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                                <button id="create-comment-button" type="submit" class="btn btn-primary btn-sm">Post comment</button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <a class="btn btn-primary btn-sm p-3" asp-area="Identity" asp-page="/Account/Login">Login to post comments</a>
                    }
                    <div id="commentSection" class="card-body p-4">
                        <h4 class="mb-0">Recent comments</h4>
                        <p class="fw-light mb-4 pb-2">@(Model.Comments.Count == 1 ? $"{Model.Comments.Count} {Html.Raw("Comment")}": $"{Model.Comments.Count} {Html.Raw("Comments")}")</p>
                    </div>
                    @**------- CREATE COMMENTS END ------*@




                    @**------- COMMENTS START ------*@
                    @foreach (var comment in Model.Comments)
                    {
                        <hr class="my-0" />

                        <form class="card-body p-4" asp-action="@((User.IsInRole("Admin") || User.IsInRole("Mod")) && comment.BlogUserId != user.Id ? "Moderate" : "Edit")" method="post" asp-controller="Comments">
                            @Html.Hidden("Id", comment.Id)
                            @if ((User.IsInRole("Admin") || User.IsInRole("Mod")) && comment.BlogUserId != user.Id)
                            {
                                @Html.Hidden("Body", comment.Body)
                            }
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     style="object-fit:cover"
                                     src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType)"
                                     alt="avatar"
                                     width="60"
                                     height="60" />
                                <div>
                                    <h6 class="fw-bold mb-0">@comment.BlogUser.FullName</h6>
                                    <div class="d-flex align-items-center mb-3 mt-0">
                                        <p class="mb-0 mt-0">
                                            @if (comment.Moderated.HasValue)
                                            {
                                                <small><i>moderated on @comment.Moderated?.ToString("MMM dd, yyyy")</i></small>
                                                <br />
                                                <span class="edit-icon-parent badge bg-warning">@comment.ModerationType</span>

                                            }
                                            else
                                            {
                                                <small><i class="mb-0">posted on @comment.Created.ToString("MMM dd, yyyy")</i></small>
                                            }
                                            @if ((User.Identity.IsAuthenticated && comment.BlogUserId == user.Id && !comment.Moderated.HasValue) || User.IsInRole("Mod") || User.IsInRole("Admin"))
                                            {
                                                <button type="button" onclick="enableEdit(event)" class="link-muted m-0 p-0 btn edit-icon">
                                                    <i class="fs-6 fas fa-pencil-alt ms-2"></i>
                                                </button>
                                            }
                                        </p>
                                    </div>
                                    <textarea name="@((User.IsInRole("Admin") || User.IsInRole("Mod")) && comment.BlogUserId != user.Id ? "ModeratedBody" : "Body")" rows="5" id="comment" disabled class="mb-0">@(comment.Moderated.HasValue ? comment.ModeratedBody : comment.Body)</textarea>
                                </div>
                                @if ((User.IsInRole("Admin") || User.IsInRole("Mod")) && comment.BlogUserId != user.Id)
                                {
                                    <div class="ModerationType form-control bg-white">
                                        <label class="control-label">Reason For Moderation</label>
                                        <select disabled class="form-select" asp-for="@comment.ModerationType" name="ModerationType" asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                                    </div>
                                }
                            </div>
                            <div class="button-div float-end mt-2 pt-1">
                                <button type="submit" class="btn btn-primary btn-sm m-1">Post</button>
                                <button href="@Url.Action("Delete", "Comments", new { id = comment.Id, slug = comment.Post.Slug })" onclick="deleteComment(event)" type="button" class="btn btn-danger btn-sm m-1">Delete</button>
                                <button onclick="disableEdit()" type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                            </div>
                        </form>

                        <hr class="my-0" style="height: 1px;" />
                    }
                    @**------- COMMENTS END ------*@
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/js/comment.js"></script>
}